// wyśrodkowana treść na stronie
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
}

.section-heading {
	position: relative;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

@media (min-width: 768px) {
	.section-heading {
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
}
