body {
	// font-family: 'Poppins', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Noto Serif Khmer', serif;
}

$fontTitle: 'Noto Serif Khmer', serif;
$fontDescription: 'Noto Serif Khmer', serif;
