$pure-white: #fff;
$pure-white-transparent: rgb(255, 255, 255, 0.4);
$light-white: #e8e8e8;
$background-aboutus: #62a33c;
$background-color: #f4f1ed;
$dark: #3d3d3d;
$font-color-dark: #414141;
$arrowImg: rgba(black, 0.9);

$light-brown-gradient: linear-gradient(
	45deg,
	rgb(132, 91, 47, 0.75),
	rgb(232, 201, 168, 0.75)
);

$sectionContact: linear-gradient(
	45deg,
	rgba(29, 28, 28, 0.75),
	rgba(8, 8, 8, 0.85)
);

$gradient: linear-gradient(
	45deg,
	rgba(99, 96, 96, 0.75),
	rgba(26, 17, 12, 0.853)
);
$gradientTwo: linear-gradient(
	45deg,
	rgba(44, 28, 20, 0.75),
	rgba(192, 192, 192, 0.75)
);

$gradientThree: linear-gradient(
	45deg,
	rgba(247, 188, 143, 0.483),
	rgba(190, 76, 6, 0.515)
);

$brown-gradient-solid: linear-gradient(
	45deg,
	rgb(200, 171, 139) 0%,
	rgb(98, 62, 42) 100%
);
