// wyśrodkowana treść na stronie
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
}

.section-heading {
	position: relative;
	margin-top: .5em;
	margin-bottom: .7em;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
